.header {
  position: relative;
  width: 100vw;
  height: 28.53333vw;
  padding: 2.4vw 3.2vw 0;
  overflow: hidden;
  color: #fff;
}
.header .bg {
  position: absolute;
  top: 0;
  left: 0;
}
.header .bg img {
  width: 100vw;
  margin-top: -1.06667vw;
  filter: blur(0.53333vw);
}
.header .bg div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.header .top {
  position: relative;
  z-index: 9998;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 11.73333vw;
}
.header .top .left {
  display: flex;
  justify-content: center;
  width: 20vw;
  height: 8vw;
  border: 1px solid #ccc;
  border-radius: 10vw;
  overflow: hidden;
}
.header .top .left > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .top .left > div {
  flex: 1;
  font-size: 4.26667vw;
}
.header .top .left > span {
  color: #999;
}
.header .top .left .back_btn {
  font-family: 'fangsong';
  font-weight: 900;
}
.header .top .left .menu span {
  display: flex;
  align-items: center;
}
.header .top .left .menu span > * {
  border-radius: 50%;
  background-color: #fff;
}
.header .top .left .menu span i {
  width: 0.8vw;
  height: 0.8vw;
}
.header .top .left .menu span b {
  width: 1.2vw;
  height: 1.2vw;
  margin: 0 1vw;
}
.header .top .right {
  width: 100%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header .top .right .title {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  height: 7.7333vw;
}
.header .top .right .title h1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .top .right .title h1 span {
  max-width: 46.66667vw;
  font-size: 4.53333vw;
  font-weight: normal;
}
.header .top .right .title h1 img {
  width: 3.2vw;
  height: 3.2vw;
  margin: 0 2.66667vw 0 1.06667vw;
}
.header .top .right .title .follow {
  position: relative;
}
.header .top .right .title .follow .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 16vw;
  height: 7.73333vw;
}
.header .top .right .title .follow .cont {
  display: none;
  justify-content: center;
  align-items: center;
  width: 16.5333vw;
  height: 7.7333vw;
}
.header .top .right .title .follow .cont .heart {
  position: relative;
  width: 3.6vw;
  height: 2.8vw;
  margin-right: 1.2vw;
}
.header .top .right .title .follow .cont span {
  font-size: 3.4667vw;
}
.header .top .right .title .follow .cont.active {
  display: flex;
}
.header .top .right .detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.4vw;
}
.header .top .right .detail > img {
  width: 7.5077vw;
  margin-right: 1.6vw;
}
.header .top .right .detail .starts {
  margin-left: 0.8vw;
}
.header .top .right .detail .starts img {
  width: 10.6667vw;
  margin-right: 0.5333vw;
}
.header .bottom {
  position: relative;
  display: flex;
  width: 100vw;
  height: 14.4vw;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}
.header .bottom .search {
  display: flex;
  width: 18.13333vw;
  height: 8vw;
  background-color: rgba(238, 238, 238, 0.4);
  border-radius: 4vw;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.header .bottom .search img {
  width: 5.33333vw;
  height: 5.33333vw;
  margin-left: 1.33333vw;
  margin-right: 1.33333vw;
}
.header .bottom .search span {
  font-size: 4vw;
}
.header .bottom .nav {
  display: flex;
  align-items: center;
  flex: 1;
  width: 73.33333vw;
  height: 8vw;
  margin-left: 5.33333vw;
  overflow: hidden;
}
.header .bottom .nav a {
  position: relative;
  height: 6.4vw;
  color: #fff;
  font-size: 4vw;
  margin-right: 6.4vw;
}
.header .bottom .nav a.active::after {
  content: '';
  position: absolute;
  left: 0.26667vw;
  bottom: 0;
  width: 7.4667vw;
  height: 0.53333vw;
  border-radius: 0.53333vw;
  background-color: #fff;
}
.header .fixed_nav {
  position: fixed;
  display: none;
  width: 100vw;
  top: 0;
  left: 0;
  height: 0;
  z-index: 9999;
  height: 14.4vw;
  overflow: hidden;
}
.header .fixed_nav .bottom {
  padding-left: 3.2vw;
}
