<footer class="footer">
  <div class="index">
    <span class="pic"></span>
    <span class="text">首页</span>
  </div>
  <div class="cart active">
    <span class="pic"></span>
    <span class="text">购物车</span>
  </div>
  <div class="mine">
    <span class="pic"></span>
    <span class="text">我的淘宝</span>
  </div>
</footer>